*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E8E8E8;
}
h1{
  background-color: black;
  color: white;
  text-align: center;
  padding: .5em 0;
  margin-bottom: 1em;
}
h3{
  word-break: break-all;
  padding: 0 1em;
}
.input-container{
  display: flex;
  gap: 2px;
  justify-content: center;
  margin-bottom: 1em;
}
input{
  padding: .5em 1em;
  border: 1px solid black;
}

button{
  background: black;
  color: white;
  border: none;
  
  padding: .5em 1em;
}

input, button{
  border-radius: 2px;
  vertical-align: middle;
}

p{
  display: inline;
  text-align: center;
}
#list{
  text-align: center;
  padding: 0 auto;
}

.item-container{
  display: flex;
  justify-content: space-between;
  margin: 3px 1em;
  padding: 1em;
  background-color: #E5E5E5;
  border: 2px solid black;
  border-radius: 2px;
}

.feather-trash-2{
  float: right;
}

#delete-btn{
  float: right;
}
h3{
  display: inline;
}

.checked{
  text-decoration: line-through;
}


@media screen and (min-width:767px)  { 
  .item-container{
    margin: 5px 30%
  }
}



